<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logo.png">
    <title>EventRadar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Zen+Dots&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="forback">
        <div class="container-fluid">
            <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
                <a href="/home"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="../images/logo3.png" class="logo">
                </a>

                <ul class="nav nav-pills">
                    <li><a href="/home" class="nav-link px-2">Home</a></li>
                    <li><a href="#" class="nav-link px-2">Features</a></li>
                    <li><a href="/events" class="nav-link px-2">Events</a></li>
                    <li><a href="/notifications" class="nav-link px-2">Notifiation</a></li>
                    <li><a href="#" class="nav-link px-2">About</a></li>
                </ul>
            </header>
        </div>

        <div class="cover">
            <div class="cover-heading">
                <!-- <h1 class="cover-title">EventRadar - IIT Hyderabad</h1> -->
                <video width="100%" height="1200px" autoplay muted loop>
                    <source src="../images/coverVid2.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <!-- <div class="forback"> -->
        <div class="container upcoming-events">
            <h1 class="heading">Upcoming Fests</h1>
            <div class="card-container">
                <div class="cards card1">Milan</div>
                <div class="cards card2">Elan & vision</div>
                <div class="cards card3">TedX</div>
            </div>
        </div>

        <div class="Updates container">
            <h1 class="heading">Updates</h1>
            <div>
                <h2 class="content border-bottom">Aryabhata won the solo dance compitetion</h2>
                <h2 class="content border-bottom">Vyasa won the find the bug challenge</h2>
                <h2 class="content border-bottom">Charakha won by 6 wickets against Kalam</h2>
                <h2 class="content border-bottom">Theme revele of Elan & Vision on 3 march 2024</h2>
            </div>
        </div>

        <div class="container">
            <h1 class="heading">Glimpse</h1>
            <div class="gallery">
                <img src="../images/grid3.jpeg" class="img5" />
                <img src="../images/grid2.jpg" class="img5" />
                <img src="../images/grid1.jpg" class="img5" />
                <img src="../images/grid4.jpeg" class="img4" />
                <img src="../images/grid5.jpeg" class="spanrow" />
                <img src="../images/grid6.jpg" class="img5" />
                <img src="../images/grid7.jpg" class="img5" />
            </div>
        </div>

        <div class="aftermovie container">
            <h1 class="heading">Aftermovie</h1>
            <a href="https://www.youtube.com/watch?v=YYgBsC1Ee10&t=38s">
                <img class="thumbnilimg" src="../images/thumbnil.png"></a>
        </div>
        <div class="container-fluid footerBack">
            <div class="container">
                <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
                    <div class="col mb-3">
                        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                            <svg class="bi me-2" width="40" height="32">
                                <use xlink:href="#bootstrap"></use>
                            </svg>
                            <img src="../images/logo3.png" class="footerLogo">
                        </a>
                        <!-- <p class="text-body-secondary">© 2024</p> -->
                    </div>

                    <div class="col mb-3">

                    </div>

                    <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Features</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Events</a></li>
                            <li class="nav-item mb-2"><a href="#"
                                    class="nav-link p-0 text-body-primary">Notifications</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">About</a></li>
                        </ul>
                    </div>

                    <div class="col mb-3">
                        <h5>Other IITH Fests</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Elan &
                                    nVision</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">TedX</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">E-Summit</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Horizon</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Diesta</a></li>
                        </ul>
                    </div>

                    <div class="col mb-3">
                        <h5>Quick Links</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Gymkhana</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">IITH
                                    Hostels</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">EBSB</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Sunshine</a>
                            </li>
                        </ul>
                    </div>
                </footer>
            </div>

            <div class="container-fluid">
                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p copyr>© 2024 IIT Hyderabad, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img class="insta"
                                    src="../images/insta.png" /></a>
                        </li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img class="x"
                                    src="../images/x.png" /></a>
                        </li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img class="fb"
                                    src="../images/facebook.png" /></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</body>

</html>